body{
    margin: 0px;
    padding: 0px;
    font-family: 'Cabin', sans-serif;
}
#loader{
    height: 1500px;
    width: 1500px;
    background-color: #ffcc77;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
#loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#map{
    height: 600px;
    width: 100%;
}