body{
    margin: 0px;
    padding: 0px;
    font-family: 'Cabin', sans-serif;
}
#loader{
    height: 1200px;
    width: 1200px;
    background-color: #E6DCC8;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#food{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#foodmap{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#logo{
    width: 150px;
    height: 50px;
}
#map{
    height: 600px;
    width: 100%;
}
